main {
    outline: 1px solid red;
    width: 70vw;
    margin: 0 auto;
}
.main-header-section {
    text-align: center;
}

.main-content-card {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.card-content, .card-image {
    width: 50%;
    padding: 20px;
}

.card-image img {
    width: 100%;
}

@media (max-width: 600px) {
    
    .main-content-card {
        display: flex;
        flex-direction: column;
    }

    main{
        text-align: center;
    }

    .card-content, .card-image {
        width: 100%;
        padding: 0;
    }

    .card-content {
        order: 1;
    }
}